{{!-- 
	• Change icon into favicon
	• Write team descriptions
	• Create logo images
	• Write case study for OIB
	• Groups we're interested in incorporating
 --}}

{{#extend "scripts"}}
	<script type="text/javascript">
		$(document).ready(function(){});
	</script>
{{/extend}}

{{#extend "styles"}}
	<style type="text/css"></style>
{{/extend}}

<div id="page-wrapper">
	<!-- Header -->
		<div id="header-wrapper" class="wrapper">
			<div id="header">

				<!-- Logo -->
					<div id="logo">
						<div id="logo-img"></div>
						<h1><a href="/">The Ansible Network</a></h1>
						<p>Think of it as a series of nearby watercoolers;<br/>
						each one attracting a different but similar group of<br/>
						people looking to do good, and do it well.</p>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							{{!-- <li>
								<a href="#">Get Involved</a>
								<ul>
									<li><a href="#">Volunteer</a></li>
									<li><a href="#">Join A Team</a></li>
									<li>
										<a href="#">Sed consequat</a>
										<ul>
											<li><a href="#">Lorem dolor</a></li>
											<li><a href="#">Amet consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam nisl</a></li>
											<li><a href="#">Sed feugiat</a></li>
										</ul>
									</li>
									<li><a href="#">Nisl tempus</a></li>
								</ul>
							</li> --}}
							<li><a href="#">Impact</a></li>
							<li><a href="#">Members</a></li>
							<li><a href="#">Features</a></li>
							<li><a href="#">Join</a></li>
						</ul>
					</nav>

			</div>
		</div>

	<!-- Intro -->
		<div id="intro-wrapper" class="wrapper style1">
			<div class="title">Impact</div>
			<section id="intro" class="container">
				<p class="style1">
					The Ansible Network provides managed communications for community<br/>
					managers to stay in touch with their core team and interact<br/>
					with their volunteers to help take the headache out of helping people.
				</p>
				<p class="style2">
					The foundation of collaboration<br/>
					is open and easy communication.
				</p>
				<p class="style1">
					The Ansible Network brings small organizations<br/>
					together in a common space to promote cross-pollination<br/>
					of audiences and skills for compounded benefit to everyone.
				</p>
				{{!-- <ul class="actions">
					<li><a href="#" class="button style3 big">Proceed</a></li>
				</ul> --}}
			</section>
		</div>

	<!-- Main -->
		<div class="wrapper style2">
			<div class="title">Members</div>
			<div id="highlights" class="container">

				<div class="row 150%">
					<div class="4u 12u(mobile)">
						<section class="highlight">
							<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
							<h3><a href="#">Dev Workshop</a></h3>
							<p>Dev Workshop is a community focused workshop series and annual conference focusing on hands-on education for those who have exited a traditional university or job leaving them without the skills they need to get another job. Their mission is to take adults from "almost ready to job ready."</p>
							<ul class="actions">
								<li><a href="#" class="button style1">Learn More</a></li>
							</ul>
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="highlight">
							<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
							<h3><a href="#">Open Indy Brigade</a></h3>
							<p>The Open Indy Brigade provides a central hub of those interested in using open data and open-source development to improve their communities.</p>
							<ul class="actions">
								<li><a href="#" class="button style1">Learn More</a></li>
							</ul>
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="highlight">
							<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
							<h3><a href="#">Girl Develop It Indy</a></h3>
							<p>Girl Develop It is an international organization, that exists to provide affordable and accessible programs to women who want to learn software development through mentorship and hands-on instruction.</p>
							<ul class="actions">
								<li><a href="#" class="button style1">Learn More</a></li>
							</ul>
						</section>
					</div>
				</div>

				{{!-- 
					• CreativeMornings Indy
						- CreativeMornings is a breakfast lecture series for the creative community.
					• Tech Meetups
					• Nextech
					• Techpoint Foundation for Youth
					• Designer &amp; Developer Resources
					• AV Lending Library
					• Direct Employers Foundation
					• Artist Community Boards
					• Literary Community
					• Indy Events & Jobs
					• Designer Portfolio Builder Group
				--}}

			</div>
		</div>
</div>