{{!-- 
	• Change icon into favicon
	• Write team descriptions
	• Create logo images
	• Write case study for OIB
	• Groups we're interested in incorporating
 --}}

{{#extend "scripts"}}
	<script type="text/javascript">
		$(document).ready(function(){});
	</script>
{{/extend}}

{{#extend "styles"}}
	<style type="text/css"></style>
{{/extend}}

<div id="page-wrapper">
	<!-- Header -->
		<div id="header-wrapper" class="wrapper">
			<div id="header">

				<!-- Logo -->
					<div id="logo">
						<div id="logo-img"></div>
						<h1><a href="/">The Ansible Network</a></h1>
						<p>Think of it as a series of nearby watercoolers;<br/>
						each one attracting a different but similar group of<br/>
						people looking to do good, and do it well.</p>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							{{!-- <li>
								<a href="#">Get Involved</a>
								<ul>
									<li><a href="#">Volunteer</a></li>
									<li><a href="#">Join A Team</a></li>
									<li>
										<a href="#">Sed consequat</a>
										<ul>
											<li><a href="#">Lorem dolor</a></li>
											<li><a href="#">Amet consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam nisl</a></li>
											<li><a href="#">Sed feugiat</a></li>
										</ul>
									</li>
									<li><a href="#">Nisl tempus</a></li>
								</ul>
							</li> --}}
							<li><a href="#">Impact</a></li>
							<li><a href="#">Members</a></li>
							<li><a href="#">Features</a></li>
							<li><a href="#">Join</a></li>
						</ul>
					</nav>
			</div>
		</div>

	<!-- Impact -->
		<div id="intro-wrapper" class="wrapper style1">
			<div class="title">Impact</div>
			<section id="intro" class="container">
				<p class="style1">
					The Ansible Network provides managed communications for community<br/>
					managers to stay in touch with their core team and interact<br/>
					with their volunteers to help take the headache out of helping people.
				</p>
				<p class="style2">
					The foundation of collaboration<br/>
					is open and easy communication.
				</p>
				<p class="style1">
					The Ansible Network brings small organizations<br/>
					together in a common space to promote cross-pollination<br/>
					of audiences and skills for compounded benefit to everyone.
				</p>
				{{!-- <ul class="actions">
					<li><a href="#" class="button style3 big">Proceed</a></li>
				</ul> --}}
			</section>
		</div>

	<!-- Features -->
		<div class="wrapper style2">
			<div class="title">Features</div>
				<div id="main" class="container">
					<section id="features">
						<header class="style1">
							<h2>A very special <a href="https://slack.com/" target="_blank">Slack</a> team</h2>
							<p>Customized and improved by a coalition of community leaders.</p>
						</header>

						{{!-- 
							• Built on Slack
								- Custom bots and integrations to make your life easier
							• Retrieve old conversations
								- 10,000 messages are recorded and indexed for quick and easy searching for those moments when you lose a link or your favorite .gif
							• Moderated
								- By bots and a core team of mods to make sure everyone is safe and secure
							• Stay secure
								- Keep your login safe with 2 Factor Auth
							• Branded invite portal
								- Invite your members with your own special invite request page. It's hands off and only visible to those you share the link with.
							• Keep email e-mail
								- Don't bury your messages in an inbox under a string of impossible to follow forwards, CCs, and all those marketing emails we all love.
							• Read it everywhere
								- Use it in a browser, on the desktop app, on the mobile app. Link them up so you never miss anything you want, and check out when you need to.
							• Customize your notifications
								- Picky about what you get notifications about? Set up keywords to get updates on the things you care about on the devices you want them on.
							• Keep your core team convos safe and seperate.
								- Chat with your co-founders in a private group and with your constituents in public channels. 
						 --}}

						<div class="feature-list">
							<div class="row">
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-comment">A very special Slack team</h3>
										<p>Slack has taken the world by storm. Slack is a messaging app for teams of all shapes and sizes. From small design studios to NASA's Jet Propulsion Labratory. They even made a snappy little video to help explain why it's so great: "<a href="https://www.youtube.com/watch?v=WdXgjIwA-mw" target="_blank">So Yeah, We Tried Slack...</a>"</p>
									</section>
								</div>
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-refresh">Make sure what's important is read</h3>
										<p>Email is for messages, not conversations. Don't wait for your next in person meeting to get a question answered. Don't squirrel it away in a text the rest of the team can't see. And definitely don't bury it in one of 10,000 email conversations with impossible to trace CCs and BCCs.</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-picture-o">Pretium phasellus justo lorem</h3>
										<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
									</section>
								</div>
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-cog">Tempus sed pretium orci</h3>
										<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-wrench">Aliquam consequat et feugiat</h3>
										<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
									</section>
								</div>
								<div class="6u 12u(mobile)">
									<section>
										<h3 class="icon fa-check">Dolore laoreet aliquam mattis</h3>
										<p>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.</p>
									</section>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>

	<!-- Members -->
		<div class="wrapper style3">
			<div class="title">Members</div>
			<div id="highlights" class="container">

				<div class="row 150%">
					<div class="4u 12u(mobile)">
						<section class="highlight">
							<a href="#" class="image featured"><img src="images/dw-logo.jpg" alt="" /></a>
							{{!-- <h3><a href="#">Dev Workshop</a></h3> --}}
							<p>Dev Workshop is a community focused workshop series and annual conference focusing on hands-on education for those who have exited a traditional university or job leaving them without the skills they need to get another job. Their mission is to take adults from "almost ready to job ready."</p>
							<ul class="actions">
								<li><a href="http://www.meetup.com/Dev-Workshop-Indy/" class="button style1" target="_blank">Learn More</a></li>
							</ul>
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="highlight">
							<a href="#" class="image featured"><img src="images/oib-logo.jpg" alt="" /></a>
							{{!-- <h3><a href="#">The Open Indy Brigade</a></h3> --}}
							<p>The Open Indy Brigade is Indy's local <a href="http://www.codeforamerica.org/" target="_blank">Code for America</a> chapter provides a central hub of those interested in using open data and open-source development to improve their communities.</p>
							<ul class="actions">
								<li><a href="http://openindybrigade.com/" class="button style1" target="_blank">Learn More</a></li>
							</ul>
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="highlight">
							<a href="#" class="image featured"><img src="images/gdi-logo.jpg" alt="" /></a>
							{{!-- <h3><a href="#">Girl Develop It Indy</a></h3> --}}
							<p>Girl Develop It is an international organization, that exists to provide affordable and accessible programs to women who want to learn software development through mentorship and hands-on instruction.</p>
							<ul class="actions">
								<li><a href="http://www.meetup.com/Girl-Develop-It-Indianapolis/" class="button style1" target="_blank">Learn More</a></li>
							</ul>
						</section>
					</div>
				</div>

				{{!-- 
					• CreativeMornings Indy
						- CreativeMornings is a breakfast lecture series for the creative community.
					• Tech Meetups
					• Nextech
					• Techpoint Foundation for Youth
					• Designer &amp; Developer Resources
					• AV Lending Library
					• Direct Employers Foundation
					• Artist Community Boards
					• Literary Community
					• Indy Events & Jobs
					• Designer Portfolio Builder Group
				--}}

			</div>
		</div>
</div>